<div class="container">
  <div class="Page navigation example">
    <div class="pagination py-2 justify-content-end">
      <span class=" page-item">
      {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}" class="page-link" >Previous</a>
      {% endif %}
      <span class="page-item">
      Page {{ page.number }} of {{ page.paginator.num_pages }}.
      </span>
      {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}" class="page-link">Next</a>
      {% endif %}
      </span>
  </div>
  </div>
</div>
